html body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.footer-container{
    border: 2px solid red;
    flex-direction: row ;

    display: flex;
    height:100vh;
    width: 100vw;
   

    /* padding-left: 20px;
    padding-right: 20px ; */
    

    margin-right: auto;
    margin-left: auto;   
}
img{
    vertical-align: middle;
}
.img-fluid{
    max-width: 100%;
}

/* ////////////////// */

.col-bk-bocca{
    background-color: #660099;
    display: flex;
    flex-grow: 1;
}

.super-bocca{
    border: 4px solid black;
    justify-content: center;
    width: 50vw;
    /* padding-top: 25%; */

}

.bocca{
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25%;
    
}
/* ---------------------------------------- */
.col-bk-freccia{
    background-color:#ff3333 ;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    flex-wrap: wrap;
    


} 

.super-freccia{
    border: 4px solid black;
    justify-content: center;
    width: 50vw;
    

}

.freccia{
    border: 1px solid green;
    display: flex;
    justify-content: center;
    width: 50vw;
    padding-top: 25%;

    
}

















/* .yellow{
    background-color: #ffcc00;
    display: flex;
    justify-content: space-between;
    height: 100vh;
}
.container-header{

    border: 3px solid rgb(225, 0, 255);
    height: 100vh;
    display: flex;
    justify-content: space-between;
}
.container-pippo{
    border: 4px solid rgb(0, 179, 255);
    display: flex;
    height: 100%;
    flex-direction: column;
justify-content: space-between;

}

.div-logo{
    border: 5px solid rgb(255, 102, 0);

    width: 100%;
    display: flex; 
}
.info{
    border: 3px solid gray;
    display: flex;
    height: 100%; 
   flex-direction: column;
   align-self: flex-end;
}
.div-player{
    border: 5px solid rgb(0, 255, 0);
}

.div-play{
    border: 5px solid rgb(0, 00, 255);
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction:column ;
} */


    
    


    

