html body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* //////////HEADER//////////// */


.yellow{
    background-color: #ffcc00;
    display: flex;
    justify-content: space-between;
    height: 100vh;
}
.container-header{

    border: 3px solid rgb(225, 0, 255);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}
.container-pippo{
    border: 4px solid rgb(0, 179, 255);
    display: flex;
    height: 100%;
    flex-direction: column;
justify-content: space-between;
flex-grow: 1;

}

.div-logo{
    border: 5px solid rgb(255, 102, 0);

    width: 100%;
    display: flex; 
}
.info{
    border: 3px solid gray;
    display: flex;
    height: 100%; 
   flex-direction: column;
   align-self: flex-end;
}
.div-player{
    border: 5px solid rgb(0, 255, 0);
}

.div-play{
    border: 5px solid rgb(0, 00, 255);
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction:column ;
    
}
/* ///////////MAIN///////////// */
.col-bk-tromba{
    background-color:#660099 ;
}



/* /////////FOOTER//////////// */


.footer-container{
    /* border: 2px solid red; */
    flex-direction: row ;

    display: flex;
    height:100vh;
    width: 100vw;
    /* margin-right: auto;
    margin-left: auto;    */
}
img{
    vertical-align: middle;
}
.img-fluid{
    max-width: 100%;
}

/* ////////////////// */

.col-bk-bocca{
    background-color: #660099;
    display: flex;
    flex-grow: 1; 
    max-width: 100%;
    height: 100%;
    max-width: max-content;
}

.super-bocca{
    /* border: 4px solid black; */

    justify-content: center;
    width: 50vw;
    /* width: 100vw; */
    /* padding-top: 25%;
    padding-left: 25%;
    padding-right: 25%; */
}

.bocca{
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    width: 50vw;
    height: 100%;
}
/* ---------------------------------------- */

.col-bk-freccia{
    background-color:#ff3333 ;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    /* min-width: auto;
    max-height: 100%; */
} 

.super-freccia{
    /* border: 4px solid black; */
    max-height: max-content;
    width: 50vw;
}

.freccia{
    /* border: 1px solid green; */
    display: flex;
    width: 50vw;
    height: 100%;
    justify-content: center;

}



















    
    


    

